$red: #f3344a;
// 移动端1px问题
@mixin onepx ($mode: 'top', $lastHide: false) {
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        border-top: 1px solid rgba(7, 17, 27, 0.1);
        transform: scale(0.5);
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
    }
    @if $mode == 'top' {
        &:after {
            top: 0;
        }
    }
    @if $mode == 'bottom' {
        &:after {
            bottom: 0;
        }
    }
    @if $lastHide {
        &:last-child {
            &:after {
                border-top: 0;
            }
        }
    }
}
// 2x, 3x 背景图片
@mixin bg-image ($name) {
    background-image: url($name + '@2x.png');
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      background-image: url($name + '@3x.png');
    }
  }